<h1>Cleaning of Data and Exploratory Data Analysis</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
Totals_df = pd.read_csv(r'C:\Users\ASUS\Desktop\Kaggle\PlayerData.csv')
Advanced_df = pd.read_csv(r'C:\Users\ASUS\Desktop\Kaggle\PlayerDataAdvanced.csv')

In [3]:
Totals_df

,Year,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980,1,Kareem Abdul-Jabbar*,C,32,LAL,82,NaN,3143,835,...,0.765,190,696,886,371,81,280,297,216,2034
1,1980,2,Tom Abernethy,PF,25,GSW,67,NaN,1222,153,...,0.683,62,129,191,87,35,12,39,118,362
2,1980,3,Alvan Adams,C,25,PHO,75,NaN,2168,465,...,0.797,158,451,609,322,108,55,218,237,1118
3,1980,4,Tiny Archibald*,PG,31,BOS,80,80.0,2864,383,...,0.830,59,138,197,671,106,10,242,218,1131
4,1980,5,Dennis Awtrey,C,31,CHI,26,NaN,560,27,...,0.640,29,86,115,40,12,15,27,66,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20294,2019,528,Tyler Zeller,C,29,MEM,4,1.0,82,16,...,0.778,9,9,18,3,1,3,4,16,46
20295,2019,529,Ante Žižić,C,22,CLE,59,25.0,1082,183,...,0.705,108,212,320,53,13,22,61,113,459
20296,2019,530,Ivica Zubac,C,21,TOT,59,37.0,1040,212,...,0.802,115,247,362,63,14,51,70,137,525
20297,2019,530,Ivica Zubac,C,21,LAL,33,12.0,516,112,...,0.864,54,108,162,25,4,27,33,73,281
20298,2019,530,Ivica Zubac,C,21,LAC,26,25.0,524,100,...,0.733,61,139,200,38,10,24,37,64,244

<h3> Sorting columns to be alphabetically in order </h3>

In [4]:
#drop the Rk column
Totals_df.drop(["Rk"], axis=1, inplace = True)
Advanced_df.drop(["Rk"], axis=1, inplace = True)

In [5]:
#fixing names with * on them
def splitnames_firstname(x):
    try:
        namelist = x.split()
        if (len(namelist) > 2):
            firstname = " ".join(x.split()[:-1])
        else:
            firstname =  x.split()[0]
        return firstname
    except:
        return x

In [6]:
def splitnames_surname(x):
    try:
        return x.split()[-1]
    except:
        return x

In [7]:
Totals_df["Surname"] = Totals_df["Player"].apply(lambda x: splitnames_surname(x))
Totals_df["FirstName"] = Totals_df["Player"].apply(lambda x: splitnames_firstname(x))
Advanced_df["Surname"] = Advanced_df["Player"].apply(lambda x: splitnames_surname(x))
Advanced_df["FirstName"] = Advanced_df["Player"].apply(lambda x: splitnames_firstname(x))

In [8]:
Totals_df

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Surname,FirstName
0,1980,Kareem Abdul-Jabbar*,C,32,LAL,82,NaN,3143,835,1383,...,696,886,371,81,280,297,216,2034,Abdul-Jabbar*,Kareem
1,1980,Tom Abernethy,PF,25,GSW,67,NaN,1222,153,318,...,129,191,87,35,12,39,118,362,Abernethy,Tom
2,1980,Alvan Adams,C,25,PHO,75,NaN,2168,465,875,...,451,609,322,108,55,218,237,1118,Adams,Alvan
3,1980,Tiny Archibald*,PG,31,BOS,80,80.0,2864,383,794,...,138,197,671,106,10,242,218,1131,Archibald*,Tiny
4,1980,Dennis Awtrey,C,31,CHI,26,NaN,560,27,60,...,86,115,40,12,15,27,66,86,Awtrey,Dennis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20294,2019,Tyler Zeller,C,29,MEM,4,1.0,82,16,28,...,9,18,3,1,3,4,16,46,Zeller,Tyler
20295,2019,Ante Žižić,C,22,CLE,59,25.0,1082,183,331,...,212,320,53,13,22,61,113,459,Žižić,Ante
20296,2019,Ivica Zubac,C,21,TOT,59,37.0,1040,212,379,...,247,362,63,14,51,70,137,525,Zubac,Ivica
20297,2019,Ivica Zubac,C,21,LAL,33,12.0,516,112,193,...,108,162,25,4,27,33,73,281,Zubac,Ivica
20298,2019,Ivica Zubac,C,21,LAC,26,25.0,524,100,186,...,139,200,38,10,24,37,64,244,Zubac,Ivica

In [9]:
#Rearranging the playerlist based on surname, firstname, Year
Totals_df.sort_values(by = ["Surname","FirstName",'Year'],axis = 0,inplace=True)
Advanced_df.sort_values(by = ["Surname","FirstName",'Year'],axis = 0,inplace=True)

In [10]:
Totals_df.reset_index(drop = True, inplace = True)
Advanced_df.reset_index(drop = True, inplace = True)

In [11]:
Totals_df["Player"] = Totals_df["Player"].apply(lambda x: x.strip('*'))
Advanced_df["Player"] = Advanced_df["Player"].apply(lambda x: x.strip('*'))
Advanced_df.head(20)

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,DWS,WS,WS/48,.1,OBPM,DBPM,BPM,VORP,Surname,FirstName
0,1991,Alaa Abdelnaby,PF,22,POR,43,290,13.1,0.499,0.000,...,0.5,0.5,0.079,NaN,-3.4,-1.2,-4.6,-0.2,Abdelnaby,Alaa
1,1992,Alaa Abdelnaby,PF,23,POR,71,934,13.5,0.533,0.000,...,1.5,2.1,0.110,NaN,-2.3,-0.4,-2.6,-0.1,Abdelnaby,Alaa
2,1993,Alaa Abdelnaby,PF,24,TOT,75,1311,13.2,0.551,0.002,...,1.3,2.0,0.074,NaN,-2.4,-1.5,-3.9,-0.6,Abdelnaby,Alaa
3,1993,Alaa Abdelnaby,PF,24,MIL,12,159,11.9,0.508,0.018,...,0.2,0.1,0.035,NaN,-3.3,-0.2,-3.5,-0.1,Abdelnaby,Alaa
4,1993,Alaa Abdelnaby,PF,24,BOS,63,1152,13.4,0.557,0.000,...,1.2,1.9,0.079,NaN,-2.3,-1.7,-4.0,-0.6,Abdelnaby,Alaa
5,1994,Alaa Abdelnaby,PF,25,BOS,13,159,9.2,0.485,0.000,...,0.1,-0.1,-0.032,NaN,-5.3,-2.2,-7.4,-0.2,Abdelnaby,Alaa
6,1995,Alaa Abdelnaby,PF,26,TOT,54,506,12.6,0.519,0.009,...,0.7,0.3,0.027,NaN,-4.4,0.1,-4.3,-0.3,Abdelnaby,Alaa
7,1995,Alaa Abdelnaby,PF,26,SAC,51,476,14.1,0.540,0.009,...,0.7,0.6,0.058,NaN,-3.6,0.5,-3.1,-0.1,Abdelnaby,Alaa
8,1995,Alaa Abdelnaby,PF,26,PHI,3,30,-12.5,0.091,0.000,...,0.0,-0.3,-0.466,NaN,-17.6,-7.3,-24.9,-0.2,Abdelnaby,Alaa
9,1980,Kareem Abdul-Jabbar,C,32,LAL,82,3143,25.3,0.639,0.001,...,5.3,14.8,0.227,NaN,4.8,2.4,7.2,7.3,Abdul-Jabbar*,Kareem
10,1981,Kareem Abdul-Jabbar,C,33,LAL,80,2976,25.5,0.616,0.001,...,4.6,14.3,0.230,NaN,4.7,1.4,6.1,6.1,Abdul-Jabbar*,Kareem
11,1982,Kareem Abdul-Jabbar,C,34,LAL,76,2677,23.4,0.608,0.002,...,3.9,10.7,0.192,NaN,3.8,1.2,5.0,4.7,Abdul-Jabbar*,Kareem
12,1983,Kareem Abdul-Jabbar,C,35,LAL,79,2554,23.6,0.619,0.002,...,2.9,10.9,0.205,NaN,4.0,0.5,4.5,4.2,Abdul-Jabbar*,Kareem
13,1984,Kareem Abdul-Jabbar,C,36,LAL,80,2622,21.3,0.608,0.001,...,3.1,8.9,0.163,NaN,2.8,0.2,3.0,3.3,Abdul-Jabbar*,Kareem
14,1985,Kareem Abdul-Jabbar,C,37,LAL,79,2630,22.9,0.628,0.001,...,3.6,11.2,0.204,NaN,3.9,1.2,5.1,4.8,Abdul-Jabbar*,Kareem
15,1986,Kareem Abdul-Jabbar,C,38,LAL,79,2629,22.7,0.603,0.001,...,3.2,10.8,0.197,NaN,4.4,1.0,5.4,4.9,Abdul-Jabbar*,Kareem
16,1987,Kareem Abdul-Jabbar,C,39,LAL,78,2441,17.9,0.597,0.003,...,3.0,7.5,0.148,NaN,1.4,0.1,1.6,2.2,Abdul-Jabbar*,Kareem
17,1988,Kareem Abdul-Jabbar,C,40,LAL,80,2308,15.8,0.570,0.001,...,2.7,5.3,0.111,NaN,-0.1,0.1,0.0,1.2,Abdul-Jabbar*,Kareem
18,1989,Kareem Abdul-Jabbar,C,41,LAL,74,1695,12.9,0.511,0.005,...,2.0,2.9,0.082,NaN,-1.9,-0.2,-2.1,0.0,Abdul-Jabbar*,Kareem
19,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,1505,12.2,0.448,0.099,...,-0.3,-1.0,-0.031,NaN,-2.0,-3.0,-5.0,-1.1,Abdul-Rauf,Mahmoud

In [12]:
Advanced_df.drop(['\xa0','\xa0.1'], axis = 1, inplace = True)
Advanced_df.head(20)

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Surname,FirstName
0,1991,Alaa Abdelnaby,PF,22,POR,43,290,13.1,0.499,0.000,...,0.0,0.5,0.5,0.079,-3.4,-1.2,-4.6,-0.2,Abdelnaby,Alaa
1,1992,Alaa Abdelnaby,PF,23,POR,71,934,13.5,0.533,0.000,...,0.6,1.5,2.1,0.110,-2.3,-0.4,-2.6,-0.1,Abdelnaby,Alaa
2,1993,Alaa Abdelnaby,PF,24,TOT,75,1311,13.2,0.551,0.002,...,0.7,1.3,2.0,0.074,-2.4,-1.5,-3.9,-0.6,Abdelnaby,Alaa
3,1993,Alaa Abdelnaby,PF,24,MIL,12,159,11.9,0.508,0.018,...,0.0,0.2,0.1,0.035,-3.3,-0.2,-3.5,-0.1,Abdelnaby,Alaa
4,1993,Alaa Abdelnaby,PF,24,BOS,63,1152,13.4,0.557,0.000,...,0.7,1.2,1.9,0.079,-2.3,-1.7,-4.0,-0.6,Abdelnaby,Alaa
5,1994,Alaa Abdelnaby,PF,25,BOS,13,159,9.2,0.485,0.000,...,-0.2,0.1,-0.1,-0.032,-5.3,-2.2,-7.4,-0.2,Abdelnaby,Alaa
6,1995,Alaa Abdelnaby,PF,26,TOT,54,506,12.6,0.519,0.009,...,-0.4,0.7,0.3,0.027,-4.4,0.1,-4.3,-0.3,Abdelnaby,Alaa
7,1995,Alaa Abdelnaby,PF,26,SAC,51,476,14.1,0.540,0.009,...,-0.1,0.7,0.6,0.058,-3.6,0.5,-3.1,-0.1,Abdelnaby,Alaa
8,1995,Alaa Abdelnaby,PF,26,PHI,3,30,-12.5,0.091,0.000,...,-0.3,0.0,-0.3,-0.466,-17.6,-7.3,-24.9,-0.2,Abdelnaby,Alaa
9,1980,Kareem Abdul-Jabbar,C,32,LAL,82,3143,25.3,0.639,0.001,...,9.5,5.3,14.8,0.227,4.8,2.4,7.2,7.3,Abdul-Jabbar*,Kareem
10,1981,Kareem Abdul-Jabbar,C,33,LAL,80,2976,25.5,0.616,0.001,...,9.6,4.6,14.3,0.230,4.7,1.4,6.1,6.1,Abdul-Jabbar*,Kareem
11,1982,Kareem Abdul-Jabbar,C,34,LAL,76,2677,23.4,0.608,0.002,...,6.9,3.9,10.7,0.192,3.8,1.2,5.0,4.7,Abdul-Jabbar*,Kareem
12,1983,Kareem Abdul-Jabbar,C,35,LAL,79,2554,23.6,0.619,0.002,...,8.0,2.9,10.9,0.205,4.0,0.5,4.5,4.2,Abdul-Jabbar*,Kareem
13,1984,Kareem Abdul-Jabbar,C,36,LAL,80,2622,21.3,0.608,0.001,...,5.9,3.1,8.9,0.163,2.8,0.2,3.0,3.3,Abdul-Jabbar*,Kareem
14,1985,Kareem Abdul-Jabbar,C,37,LAL,79,2630,22.9,0.628,0.001,...,7.6,3.6,11.2,0.204,3.9,1.2,5.1,4.8,Abdul-Jabbar*,Kareem
15,1986,Kareem Abdul-Jabbar,C,38,LAL,79,2629,22.7,0.603,0.001,...,7.6,3.2,10.8,0.197,4.4,1.0,5.4,4.9,Abdul-Jabbar*,Kareem
16,1987,Kareem Abdul-Jabbar,C,39,LAL,78,2441,17.9,0.597,0.003,...,4.5,3.0,7.5,0.148,1.4,0.1,1.6,2.2,Abdul-Jabbar*,Kareem
17,1988,Kareem Abdul-Jabbar,C,40,LAL,80,2308,15.8,0.570,0.001,...,2.6,2.7,5.3,0.111,-0.1,0.1,0.0,1.2,Abdul-Jabbar*,Kareem
18,1989,Kareem Abdul-Jabbar,C,41,LAL,74,1695,12.9,0.511,0.005,...,0.9,2.0,2.9,0.082,-1.9,-0.2,-2.1,0.0,Abdul-Jabbar*,Kareem
19,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,1505,12.2,0.448,0.099,...,-0.7,-0.3,-1.0,-0.031,-2.0,-3.0,-5.0,-1.1,Abdul-Rauf,Mahmoud

In [14]:
Totals_df["Season"] = Totals_df["Year"].apply(lambda x: str(int(x) - 1) + "-" + "".join(list(str(x))[-2:]))
Advanced_df["Season"] = Advanced_df["Year"].apply(lambda x: str(int(x) - 1) + "-" + "".join(list(str(x))[-2:]))

In [19]:
#removing special characters from names
import unidecode
Totals_df["Player"] = Totals_df["Player"].apply(lambda x: unidecode.unidecode(x))
Advanced_df["Player"] = Advanced_df["Player"].apply(lambda x: unidecode.unidecode(x))
Totals_df

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Surname,FirstName,Season
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,89,12,4,12,22,39,135,Abdelnaby,Alaa,1990-91
1,1992,Alaa Abdelnaby,PF,23,POR,71,1.0,934,178,361,...,260,30,25,16,66,132,432,Abdelnaby,Alaa,1991-92
2,1993,Alaa Abdelnaby,PF,24,TOT,75,52.0,1311,245,473,...,337,27,25,26,97,189,578,Abdelnaby,Alaa,1992-93
3,1993,Alaa Abdelnaby,PF,24,MIL,12,0.0,159,26,56,...,37,10,6,4,13,24,64,Abdelnaby,Alaa,1992-93
4,1993,Alaa Abdelnaby,PF,24,BOS,63,52.0,1152,219,417,...,300,17,19,22,84,165,514,Abdelnaby,Alaa,1992-93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20294,2004,Bruno Sundov,C,23,CLE,4,0.0,29,3,9,...,10,0,0,0,3,7,9,Šundov,Bruno,2003-04
20295,2004,Bruno Sundov,C,23,NYK,1,0.0,4,1,1,...,0,1,0,0,0,2,2,Šundov,Bruno,2003-04
20296,2005,Bruno Sundov,C,24,NYK,21,0.0,73,11,37,...,13,2,2,2,6,16,25,Šundov,Bruno,2004-05
20297,2018,Ante Zizic,C,21,CLE,32,2.0,214,49,67,...,60,5,2,13,11,30,119,Žižić,Ante,2017-18
20298,2019,Ante Zizic,C,22,CLE,59,25.0,1082,183,331,...,320,53,13,22,61,113,459,Žižić,Ante,2018-19

In [20]:
Totals_df.drop(["Surname","FirstName"],axis = 1, inplace = True)
Advanced_df.drop(["Surname","FirstName"],axis = 1, inplace = True)

In [27]:
Totals_df["Player"] = Totals_df["Player"].apply(lambda x: ''.join(list(filter(lambda x: x!='.',list(x)))))
Advanced_df["Player"] = Advanced_df["Player"].apply(lambda x: ''.join(list(filter(lambda x: x!='.',list(x)))))

<h1> Dealing with Mid Season Trades </h1>

Players get traded mid season and we will only keep total stats for that year and remove the others

In [41]:
traded_tuple = tuple(zip(Totals_df.loc[Totals_df["Tm"] == "TOT"]["Year"],Totals_df.loc[Totals_df["Tm"] == "TOT"]["Player"],Totals_df.loc[Totals_df["Tm"] == "TOT"]["Age"]))
ind = list()
for combination in traded_tuple:
    ind.extend(Totals_df.loc[(Totals_df["Year"] == combination[0]) & (Totals_df["Player"] == combination[1]) & (Totals_df["Age"] ==            combination[2]) & (Totals_df["Tm"] != "TOT")].index.values.tolist())

In [46]:
traded_tuple_advanced = tuple(zip(Advanced_df.loc[Totals_df["Tm"] == "TOT"]["Year"],Advanced_df.loc[Totals_df["Tm"] == "TOT"]["Player"],Advanced_df.loc[Totals_df["Tm"] == "TOT"]["Age"]))
ind_advanced = list()
for combination in traded_tuple_advanced:
    ind_advanced.extend(Advanced_df.loc[(Totals_df["Year"] == combination[0]) & (Advanced_df["Player"] == combination[1]) & (Advanced_df["Age"] == combination[2]) & (Advanced_df["Tm"] != "TOT")].index.values.tolist())

In [48]:
Totals_df = Totals_df.drop(ind).reset_index(drop = True)
Advanced_df = Advanced_df.drop(ind).reset_index(drop = True)

In [51]:
Advanced_df

,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Season
0,1991,Alaa Abdelnaby,PF,22,POR,43,290,13.1,0.499,0.000,...,22.1,0.0,0.5,0.5,0.079,-3.4,-1.2,-4.6,-0.2,1990-91
1,1992,Alaa Abdelnaby,PF,23,POR,71,934,13.5,0.533,0.000,...,20.6,0.6,1.5,2.1,0.110,-2.3,-0.4,-2.6,-0.1,1991-92
2,1993,Alaa Abdelnaby,PF,24,TOT,75,1311,13.2,0.551,0.002,...,20.5,0.7,1.3,2.0,0.074,-2.4,-1.5,-3.9,-0.6,1992-93
3,1994,Alaa Abdelnaby,PF,25,BOS,13,159,9.2,0.485,0.000,...,22.6,-0.2,0.1,-0.1,-0.032,-5.3,-2.2,-7.4,-0.2,1993-94
4,1995,Alaa Abdelnaby,PF,26,TOT,54,506,12.6,0.519,0.009,...,25.6,-0.4,0.7,0.3,0.027,-4.4,0.1,-4.3,-0.3,1994-95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16609,2003,Bruno Sundov,C,22,BOS,26,138,1.2,0.281,0.286,...,22.2,-0.6,0.2,-0.4,-0.139,-8.7,-1.1,-9.8,-0.3,2002-03
16610,2004,Bruno Sundov,C,23,TOT,5,33,3.5,0.435,0.000,...,21.3,-0.1,0.0,0.0,-0.046,-9.1,-1.6,-10.7,-0.1,2003-04
16611,2005,Bruno Sundov,C,24,NYK,21,73,1.2,0.330,0.081,...,27.4,-0.3,0.0,-0.3,-0.174,-10.4,-3.3,-13.6,-0.2,2004-05
16612,2018,Ante Zizic,C,21,CLE,32,214,24.2,0.746,0.000,...,18.8,0.9,0.2,1.0,0.231,1.9,-0.9,1.0,0.2,2017-18
16613,2019,Ante Zizic,C,22,CLE,59,1082,16.2,0.590,0.000,...,18.2,1.7,0.3,2.0,0.087,-1.1,-2.1,-3.2,-0.3,2018-19

Drop columns which are same,

Merge Advanced to total, 

Group

(16614, 31)

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season
73,2019,Jaylen Adams,PG,22,ATL,34,1.0,428,38,110,...,11,49,60,65,14,5,28,45,108,2018-19
101,2019,Deng Adel,SF,21,CLE,19,3.0,194,11,36,...,3,16,19,5,1,4,6,13,32,2018-19
159,2013,Josh Akognon,PG,26,DAL,3,0.0,9,2,4,...,0,1,1,1,0,0,0,3,5,2012-13
160,2019,DeVaughn Akoon-Purcell,SG,25,DEN,7,0.0,22,3,10,...,1,3,4,6,2,0,2,4,7,2018-19
168,2015,Furkan Aldemir,PF,23,PHI,41,9.0,540,40,78,...,78,98,176,28,17,16,17,96,93,2014-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16570,1988,Phil Zevenbergen,C,23,SAS,8,0.0,58,15,27,...,4,9,13,3,3,1,4,12,30,1987-88
16576,2006,Derrick Zimmerman,PG,24,NJN,2,0.0,32,2,3,...,1,3,4,7,0,0,4,4,4,2005-06
16577,2017,Stephen Zimmerman,C,20,ORL,19,0.0,108,10,31,...,11,24,35,4,2,5,3,17,23,2016-17
16580,1983,Jim Zoet,C,29,DET,7,0.0,30,1,5,...,3,5,8,1,1,3,4,9,2,1982-83
16587,1993,Radisav Curcic,C,27,DAL,20,0.0,166,16,41,...,17,32,49,12,7,2,8,30,58,1992-93