<h1> NBA Data Scraping of all players totals and WS values for the years 1980 to 2019 </h1>

The following notebook works to extract data for all NBA players from the year 1980 to 2019. All data will be obtained from https://www.basketball-reference.com/

In [1]:
import bs4 as BeautifulSoup
import urllib.request
import pandas as pd
import numpy as np
import re

<h2> Scraping for Player Data </h2>

In [2]:
#Years
years = list(range(1980,2020))
#The URL pattern for Player totals for each year is https://www.basketball-reference.com/leagues/NBA_"year"_totals.html
complete_array = np.empty(shape = (0,0))

#setting one url to get the headers of each column
headers_url = "https://www.basketball-reference.com/leagues/NBA_1980_totals.html"
headers_th_tags = BeautifulSoup.BeautifulSoup(urllib.request.urlopen(headers_url),'html.parser').find_all('table',{'id':'totals_stats'})[0].find_all('thead')[0].find_all('th')
headers_list = list(map(lambda x:x.get_text(), headers_th_tags))
headers_list.insert(0,'Year')
headers_list.insert(0,'Player ID')
headers_array = np.array(headers_list).reshape(1,-1)
for year in years:
    year_array = np.empty(shape = (0,0))
    print(year)
    url = "https://www.basketball-reference.com/leagues/NBA_" + str(year) + "_totals.html"
    html_content = urllib.request.urlopen(url)
    bsoup = BeautifulSoup.BeautifulSoup(html_content,'html.parser')
    year_list = bsoup.find_all('table',{'id':'totals_stats'})[0].find_all('tbody')[0].find_all('tr',class_ = lambda x: x!= 'thead')
    #can also use with html string(similar to a JQuery search)
    #year_list = bsoup.find_all('table',{'id':'totals_stats'})[0].find_all('tbody')[0].select('tr:not(.thead)')
    for row in year_list:
        player_url = row.find_all('a')[0]['href']
        playerid = re.findall('[a-zA-Z0-9]*',re.findall('[a-zA-Z0-9]*\.html',player_url)[0])[0]
        row_result = list(map(lambda x: x.get_text(),row))
        row_result.insert(0,year)
        row_result.insert(0,playerid)
        if year_array.shape[0] == 0:
            year_array = np.array(row_result).reshape(1,-1)
        else:
            year_array = np.vstack((year_array,np.array(row_result).reshape(1,-1)))
    if complete_array.shape[0] == 0:
        complete_array = np.vstack((headers_list,year_array))
    else:
        complete_array = np.vstack((complete_array,year_array))

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [3]:
Player_Stats = pd.DataFrame(data = complete_array[1:,:], columns = list(complete_array[0]))
Player_Stats

,Player ID,Year,Rk,Player,Pos,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,abdulka01,1980,1,Kareem Abdul-Jabbar*,C,32,LAL,82,,3143,...,.765,190,696,886,371,81,280,297,216,2034
1,abernto01,1980,2,Tom Abernethy,PF,25,GSW,67,,1222,...,.683,62,129,191,87,35,12,39,118,362
2,adamsal01,1980,3,Alvan Adams,C,25,PHO,75,,2168,...,.797,158,451,609,322,108,55,218,237,1118
3,architi01,1980,4,Tiny Archibald*,PG,31,BOS,80,80,2864,...,.830,59,138,197,671,106,10,242,218,1131
4,awtrede01,1980,5,Dennis Awtrey,C,31,CHI,26,,560,...,.640,29,86,115,40,12,15,27,66,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20294,zellety01,2019,528,Tyler Zeller,C,29,MEM,4,1,82,...,.778,9,9,18,3,1,3,4,16,46
20295,zizican01,2019,529,Ante Žižić,C,22,CLE,59,25,1082,...,.705,108,212,320,53,13,22,61,113,459
20296,zubaciv01,2019,530,Ivica Zubac,C,21,TOT,59,37,1040,...,.802,115,247,362,63,14,51,70,137,525
20297,zubaciv01,2019,530,Ivica Zubac,C,21,LAL,33,12,516,...,.864,54,108,162,25,4,27,33,73,281
20298,zubaciv01,2019,530,Ivica Zubac,C,21,LAC,26,25,524,...,.733,61,139,200,38,10,24,37,64,244

In [4]:
Player_Stats.to_csv('PlayerData.csv',index = False)

In [5]:
#Years
years = list(range(1980,2020))
#The URL pattern for Player totals for each year is https://www.basketball-reference.com/leagues/NBA_"year"_totals.html
complete_array_advanced = np.empty(shape = (0,0))

#setting one url to get the headers of each column
headers_url = "https://www.basketball-reference.com/leagues/NBA_1980_advanced.html"
headers_th_tags = BeautifulSoup.BeautifulSoup(urllib.request.urlopen(headers_url),'html.parser').find_all('table',{'id':'advanced_stats'})[0].find_all('thead')[0].find_all('th')
headers_list = list(map(lambda x:x.get_text(), headers_th_tags))
headers_list.insert(0,'Year')
headers_list.insert(0,'Player ID')
headers_array = np.array(headers_list).reshape(1,-1)
for year in years:
    year_array_advanced = np.empty(shape = (0,0))
    print(year)
    url = "https://www.basketball-reference.com/leagues/NBA_" + str(year) + "_advanced.html"
    html_content = urllib.request.urlopen(url)
    bsoup = BeautifulSoup.BeautifulSoup(html_content,'html.parser')
    year_list = bsoup.find_all('table',{'id':'advanced_stats'})[0].find_all('tbody')[0].find_all('tr',class_ = lambda x: x!= 'thead')
    #can also use with html string(similar to a JQuery search)
    #year_list = bsoup.find_all('table',{'id':'totals_stats'})[0].find_all('tbody')[0].select('tr:not(.thead)')
    for row in year_list:
        player_url = row.find_all('a')[0]['href']
        playerid = re.findall('[a-zA-Z0-9]*',re.findall('[a-zA-Z0-9]*\.html',player_url)[0])[0]
        row_result = list(map(lambda x: x.get_text(),row))
        row_result.insert(0,year)
        row_result.insert(0,playerid)
        if year_array_advanced.shape[0] == 0:
            year_array_advanced = np.array(row_result).reshape(1,-1)
        else:
            year_array_advanced = np.vstack((year_array_advanced,np.array(row_result).reshape(1,-1)))
    if complete_array_advanced.shape[0] == 0:
        complete_array_advanced = np.vstack((headers_list,year_array_advanced))
    else:
        complete_array_advanced = np.vstack((complete_array_advanced,year_array_advanced))

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [6]:
complete_array_advanced.shape

(20300, 31)

In [7]:
Player_Stats_advanced = pd.DataFrame(data = complete_array_advanced[1:,:], columns = list(complete_array_advanced[0]))
Player_Stats_advanced

,Player ID,Year,Rk,Player,Pos,Age,Tm,G,MP,PER,...,,OWS,DWS,WS,WS/48,,OBPM,DBPM,BPM,VORP
0,abdulka01,1980,1,Kareem Abdul-Jabbar*,C,32,LAL,82,3143,25.3,...,,9.5,5.3,14.8,.227,,4.8,2.4,7.2,7.3
1,abernto01,1980,2,Tom Abernethy,PF,25,GSW,67,1222,11.0,...,,1.2,0.8,2.0,.080,,-1.0,-0.2,-1.2,0.2
2,adamsal01,1980,3,Alvan Adams,C,25,PHO,75,2168,19.2,...,,3.1,3.9,7.0,.155,,1.7,1.9,3.6,3.1
3,architi01,1980,4,Tiny Archibald*,PG,31,BOS,80,2864,15.3,...,,5.9,2.9,8.9,.148,,1.4,-0.3,1.1,2.3
4,awtrede01,1980,5,Dennis Awtrey,C,31,CHI,26,560,7.4,...,,0.1,0.5,0.6,.053,,-2.3,0.9,-1.4,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20294,zellety01,2019,528,Tyler Zeller,C,29,MEM,4,82,19.4,...,,0.2,0.1,0.3,.191,,-2.3,-1.9,-4.3,0.0
20295,zizican01,2019,529,Ante Žižić,C,22,CLE,59,1082,16.2,...,,1.7,0.3,2.0,.087,,-1.1,-2.1,-3.2,-0.3
20296,zubaciv01,2019,530,Ivica Zubac,C,21,TOT,59,1040,18.9,...,,1.9,1.3,3.2,.148,,-0.2,-0.2,-0.5,0.4
20297,zubaciv01,2019,530,Ivica Zubac,C,21,LAL,33,516,19.5,...,,1.1,0.6,1.8,.165,,-0.3,0.1,-0.2,0.2
20298,zubaciv01,2019,530,Ivica Zubac,C,21,LAC,26,524,18.3,...,,0.7,0.7,1.4,.132,,-0.2,-0.5,-0.7,0.2

In [8]:
Player_Stats_advanced.to_csv('PlayerDataAdvanced.csv',index = False)