<h1> NBA Player Improvement Predictor </h1> 

This project intends to build a prediction model to predict the year to year improvement of players. It will use the change in Win Share statistic as the target to be predicted.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
Complete_df = pd.read_csv(r'C:\Users\ASUS\Desktop\Kaggle\Cleandf.csv')

In [7]:
features = Complete_df.columns.tolist()
features.remove('WS')
features.extend(['WS'])
Complete_df.columns = features
Complete_df.head(5)

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TOV%,USG%,OWS,DWS,WS/48,OBPM,DBPM,BPM,VORP,WS
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,14.0,22.1,0.0,0.5,0.5,0.079,-3.4,-1.2,-4.6,-0.2
1,1992,Alaa Abdelnaby,PF,23,POR,71,1.0,934,178,361,...,14.0,20.6,0.6,1.5,2.1,0.110,-2.3,-0.4,-2.6,-0.1
2,1993,Alaa Abdelnaby,PF,24,TOT,75,52.0,1311,245,473,...,15.6,20.5,0.7,1.3,2.0,0.074,-2.4,-1.5,-3.9,-0.6
3,1994,Alaa Abdelnaby,PF,25,BOS,13,0.0,159,24,55,...,20.5,22.6,-0.2,0.1,-0.1,-0.032,-5.3,-2.2,-7.4,-0.2
4,1995,Alaa Abdelnaby,PF,26,TOT,54,0.0,506,118,231,...,15.4,25.6,-0.4,0.7,0.3,0.027,-4.4,0.1,-4.3,-0.3

In [16]:
#creating playerIDs
unique_names = list(set(Complete_df["Player"]))
unique_name_grouping = Complete_df.groupby(['Player'])
#keys of unique_name_grouping
key_list_unique_names = list()
for key,group in unique_name_grouping:
    key_list_unique_names.append(key)

In [17]:
unique_name_grouping.cumcount()

0        0
1        1
2        2
3        3
4        4
        ..
16606    4
16607    5
16608    6
16609    0
16610    1
Length: 16611, dtype: int64

In [24]:
unique_name_grouping.get_group(key_list_unique_names[16608])

IndexError: list index out of range

In [25]:
Complete_df.shape

(16611, 51)

In [51]:
import re
url = 'https://www.basketball-reference.com/players/i/irvinky01.html'
re.findall('[a-zA-Z0-9]*',re.findall(r'[a-zA-z0-9]*\.html',url)[0])[0]

'irvinky01'

In [48]:
re.findall('[a-zA-Z0-9]*',re.findall('[a-zA-z0-9]*\.html',url)[0])[0]

['johnsch04', '', 'html', '']

In [35]:
res == None

True

['', 'johnsch04', '', 'html', '']

In [41]:
re.findall(pattern,url)

['/johnsch04.html']