<h1>Cleaning of Data and Exploratory Data Analysis</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
Totals_df = pd.read_csv(r'C:\Users\ASUS\Desktop\Kaggle\PlayerData.csv')
Advanced_df = pd.read_csv(r'C:\Users\ASUS\Desktop\Kaggle\PlayerDataAdvanced.csv')

In [3]:
Totals_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Kareem Abdul-Jabbar*,C,32,LAL,82,NaN,3143,835,1383,...,0.765,190,696,886,371,81,280,297,216,2034
1,2,Tom Abernethy,PF,25,GSW,67,NaN,1222,153,318,...,0.683,62,129,191,87,35,12,39,118,362
2,3,Alvan Adams,C,25,PHO,75,NaN,2168,465,875,...,0.797,158,451,609,322,108,55,218,237,1118
3,4,Tiny Archibald*,PG,31,BOS,80,80.0,2864,383,794,...,0.830,59,138,197,671,106,10,242,218,1131
4,5,Dennis Awtrey,C,31,CHI,26,NaN,560,27,60,...,0.640,29,86,115,40,12,15,27,66,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375415,528,Tyler Zeller,C,29,MEM,4,1.0,82,16,28,...,0.778,9,9,18,3,1,3,4,16,46
375416,529,Ante Žižić,C,22,CLE,59,25.0,1082,183,331,...,0.705,108,212,320,53,13,22,61,113,459
375417,530,Ivica Zubac,C,21,TOT,59,37.0,1040,212,379,...,0.802,115,247,362,63,14,51,70,137,525
375418,530,Ivica Zubac,C,21,LAL,33,12.0,516,112,193,...,0.864,54,108,162,25,4,27,33,73,281
375419,530,Ivica Zubac,C,21,LAC,26,25.0,524,100,186,...,0.733,61,139,200,38,10,24,37,64,244

<h3> Sorting columns to be alphabetically in order </h3>

In [4]:
#drop the Rk column
Totals_df.drop(["Rk"], axis=1, inplace = True)
Advanced_df.drop(["Rk"], axis=1, inplace = True)

In [9]:
#fixing names with * on them
def splitnames(x):
    try:
        return x.split()[1]
    except:
        return x
        
Totals_df["Surname"] = Totals_df["Player"].apply(lambda x: splitnames(x))
Totals_df["FirstName"] = Totals_df["Player"].apply(lambda x: x.split()[0])
Advanced_df["Surname"] = Advanced_df["Player"].apply(lambda x: splitnames(x))
Advanced_df["FirstName"] = Advanced_df["Player"].apply(lambda x: x.split()[0])

In [13]:
Totals_df.loc[Totals_df["Player"] == "World B. Free"]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Surname,FirstName
114,World B. Free,SG,26,SDC,68,NaN,2585,737,1556,0.474,...,109,238,283,81,32,228,195,2055,B.,World
471,World B. Free,SG,26,SDC,68,NaN,2585,737,1556,0.474,...,109,238,283,81,32,228,195,2055,B.,World
814,World B. Free,SG,27,GSW,65,NaN,2370,516,1157,0.446,...,111,159,361,85,11,195,183,1565,B.,World
1191,World B. Free,SG,26,SDC,68,NaN,2585,737,1556,0.474,...,109,238,283,81,32,228,195,2055,B.,World
1534,World B. Free,SG,27,GSW,65,NaN,2370,516,1157,0.446,...,111,159,361,85,11,195,183,1565,B.,World
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356696,World B. Free,SG,30,CLE,75,71.0,2375,626,1407,0.445,...,128,217,226,94,8,154,214,1669,B.,World
357046,World B. Free,SG,31,CLE,71,50.0,2249,609,1328,0.459,...,150,211,320,75,16,139,163,1597,B.,World
357413,World B. Free,SG,32,CLE,75,75.0,2535,652,1433,0.455,...,146,218,314,91,19,172,186,1754,B.,World
357798,World B. Free,SG,33,PHI,20,2.0,285,39,123,0.317,...,14,19,30,5,4,18,26,116,B.,World
358180,World B. Free,SG,34,HOU,58,0.0,682,143,350,0.409,...,30,44,60,20,3,49,74,374,B.,World

['John', 'Brown']